<form  action="/add-playlist" method="post">
<label for="playlist-name">Type the name of your playlist</label><br>
<input class="form-control" id="playlist-name" type="text" name="playlist-name" placeholder="ðŸ’ƒðŸ¼"><br>
<button class="btn btn-outline-primary">Search</button>
</form>