<form action="/create-playlist" method="post">
  <label for="playlist-name">Event</label><br>
  <input class="form-control" id="playlist-name" type="text" name="playlistName" placeholder=""><br>
  <label for="playlist-name">Location</label><br>
  <input class="form-control" id="playlist-name" type="text" name="location" placeholder=""><br>
  <button class="btn btn-outline-primary">Create</button>
</form>