<form action="/create-playlist" enctype="multipart/form-data" method="post">
  
  <label for="playlist-name">Event</label><br>
  <input class="form-control" id="playlist-name" type="text" name="playlistName"  required><br>
  
  <label for="playlist-name">Location</label><br>
  <input class="form-control" id="location" type="text" name="location" ><br>
  
  <label for="playlist-name">Flyer</label><br>
  <input class="form-control" id="photo" type="file" name="photo" required><br>
  
  <button class="btn btn-outline-primary">Create</button>
</form>