
<div class="login vertical-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto"> 
        <img src="/images/jukebox-whiteopacity.png" width="200" height="200" alt="">
     </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-auto"> 
        <a href="/auth/spotify" class="btn btn-primary btn-lg">Insert a coin in the Jukebox!</a> 
     </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-auto"> 
        <a href="/playlists" class="btn btn-secondary btn-sm">Show all events</a> 
     </div>
    </div>
  </div>
</div>