<div class="container">
  <div class="row align-items-center">
      <div class="col-auto mr-auto">
      <h1>Events</h1>
      </div>
      <div class="col-auto">
      <a href="/create-playlist" class="btn btn-primary">Add a New Event</a>
      </div>
  </div>
</div>

{{!-- <a href="/add-playlist" class="btn btn-outline-primary">Add existing</a> --}}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Event</th>
      {{!-- <th scope="col">Duration</th> --}}
      <th scope="col">Host</th>
      <th scope="col">Location</th>
    </tr>
  </thead>

  <tbody>
    {{#each playlist}}
    <tr>
      <th scope="row">{{this.name}}</th>
      <th scope="row">{{this._creator.username}}</th>
      <th scope="row">{{this.location}}</th>
      {{!-- <td><a href="#" class="btn btn-outline-primary">Play</a></td>
      <td><a href="#" class="btn btn-outline-primary">Share</a></td> --}}
      <td><a href="/playlist-details/{{this.id}}" class="btn btn-outline-primary">Edit</a></td>
      {{!-- {{#ifEqualsUser ../this._creator._id }}  --}}
      {{!-- <a><a href="#" class="btn btn-outline-primary">Delete</a></a> --}}
      {{!-- {{/ifEqualsUser}} --}}
    </tr>
    {{/each}}
  </tbody>
</table>