<h1>Playlists</h1>

<a href="/create-playlist" class="btn btn-outline-primary">New</a>
<a href="/add-playlist" class="btn btn-outline-primary">Add existing</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="#" class="btn btn-outline-primary">Play</a></td>
      <td><a href="#" class="btn btn-outline-primary">Share</a></td>
      <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
    </tr>
  </tbody>
</table>