
$primary: #1DB954;
$btn-border-radius: 30px;
$border-radius-sm:13px;
$border-radius-lg:50px;
$dark: #191616;
$table-dark-bg: black;
$input-bg: #191616;
$input-color:white;



@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

* {
  border: 0.5px dashed red;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  background-image: url("/images/party.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
.gral-background{
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

body {
  font: 14px 'Signika', sans-serif;
}

.cardImgSize{
  max-height: 150px;
}