@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

// * {
//   border: 0.5px dashed red;
// }

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  background-image: url("https://lumisdotai.s3.amazonaws.com/events/modules/1dd94563-0fc4-4484-b7d8-c8b7ac5df565.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

body {
  font: 14px 'Signika', sans-serif;
}

a {
  color: #00B7FF;
}

.card{
  max-height: 150px;
  // width: 100%
}